<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('app_restaurant_index') }}">ZELP</a>
    {# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> #}

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
    <ul class="navbar-nav ml-auto">
     
        
    </ul>

    <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav ml-auto">
        
        {% if app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_ville_index') }}"  class="btn btn-success my-2">Liste des villes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('restaurant_new') }}"  class="btn btn-success my-2">Ajouter un restaurant</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_restaurant_index') }}" tabindex="-1" aria-disabled="true">{{app.user.email}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}" tabindex="-1" aria-disabled="true">Se déconnecter</a>
            </li>
        {% else %}
            
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}" tabindex="-1" aria-disabled="true">Se connecter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register') }}" tabindex="-1" aria-disabled="true">S'inscrire</a>
            </li>
        {% endif %}
    </ul>
    </div>

</nav>