{% extends 'base.html.twig' %}

{% block title %}Liste des villes{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4 mb-4">Liste des villes</h1>

    <a class="btn btn-success my-2" href="{{ path('app_ville_new') }}">Ajouter</a>

    <table class="table col-8">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                <th>Code postal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                {# <td>{{ ville.id }}</td> #}
                <td>{{ ville.name }}</td>
                <td>{{ ville.codePostal }}</td>
                <td>
                    <a href="{{ path('app_ville_show', {'id': ville.id}) }}" class="btn btn-secondary">Voir le détail</a>
                    <a href="{{ path('app_ville_edit', {'id': ville.id}) }}" class="btn btn-warning">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
